.example-container {
  display: flex;
  flex-direction: column;
  max-height: auto;
  min-width: auto;
}

.check1 {
  display: flex;
  margin-left: 1.5rem;
}

.inp {
  margin-right: 1rem;
}

.section1 {
  margin-top: 2rem;

  border: 1px solid black;
}

.borderout {
  border: 1px solid black;
}

.remRate {
  float: right;
}

.tableDet {
  width: 100%;
  border: 1px solid green;
}

td {
  width: 50%;
}

th {
  width: 40%;
}

.nameInput {
  width: 10rem;
}

input[type='checkbox'] {
  margin-top: -30px;
}

input[type='checkbox'] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: '';
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  position: absolute;
  cursor: pointer;
  height: 18px;
  width: 18px;
  left: 0;
  top: 0;
  font-size: 10px;
  border-radius: 2px;
}

input[type='checkbox']:checked:hover:after {
  background: green;
  content: '\2714';
  color: #fff;
}

input[type='checkbox']:checked:after {
  background: green;
  content: '\2714';
  color: #fff;
}
